/* CSS Index file 
 *
 *      Blocks of HTML styled
 *      - Logo
 *      - Description
 *
 * */
#main {
    height: 89%;
}

#titleBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#title {
    width: 62%;
}

#subtitle {
    font-family: "GlacialIndifference";
    font-size: 28px;
    width: 42%;
    text-align: center;
}
