/* GLOBAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=Changa&family=Libre+Franklin&display=swap');
html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(to right, #16A085, #F4D03F);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
