/* NAVBAR STYLES */
#navbarBox {
    height: 11%;
    display: flex;
    border-bottom: 0.1rem solid black;
    justify-content: space-between;
}

#name {
    width: 20%;
    padding: 0.8rem;
    font-family: 'GlacialIndifference';
    font-size: 15px;
    text-align: center;
    border-right: 0.1rem solid black;
}

#pages {
    width: 60%;    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
}

.page {
    font-family: 'GlacialIndifference';
    font-size: 20px;
    padding: 15px;
}

#selected {
    color: #ffc229;
}

#marked {
    padding: 0 0.3rem;
    background-color: #ffc229;
    min-width: 60px;
}
