/* NAVBAR STYLES */
.navbarBox {
    height: 7%;
    display: flex;
    justify-content: space-between;
}

.pagesBox {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.page {
    margin: 0 10px;
    font-family: "Libre Franklin";
    font-weight: 100;
    color: #F7F7F7
}
