@import url('https://fonts.googleapis.com/css2?family=Changa:wght@800&display=swap');

#main {
    width: 100%;
    height: 90%;
}

#boxTitle {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#image {
    margin-left: 6%;
}
#title {
    font-family: 'Changa', sans-serif;
    color: #ffc229;
    font-size: 86px;
    font-weight: 800;
}

#lateralBar {
    border-right: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
    border-top: 0.1rem solid black;
    border-radius: 0.3rem;
    height: 71rem;
    width: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#contentBox {
    display: flex;
    height: 100%;
    margin-top: 5rem;
}

#lateralBar p {
    transform: rotate(270deg);
    font-size: 2.3rem;
    width: 15rem;
    font-family: 'GlacialIndifference';
    margin-top: 6rem;
    font-weight: 800;
}

#lateralImg {
    margin-top: 7rem;
}

#aboutText {
    font-family: 'GlacialIndifference';
    font-size: 15px;
    display: block;
}

.textBox {
    display: flex;
    flex-direction: column;
    margin: 4rem 2rem 0;
}

#xText {
    width: 5rem;
}

#text {
    font-family: 'GlacialIndifference';
    font-size: 1.5rem;
    margin: 6rem 3rem 0;
    text-align: center;
}

#textCenter {
    text-align: center;
    font-family: 'GlacialIndifference';
    font-size: 1.5rem;
    margin: 30rem 3rem 0;
}

#learnMoreBox {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

#learnMore {
    width: 13rem;
}

.iconsRow {
    display: flex;
    
    justify-content: space-evenly;
}

#iconColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 18rem;
}

#iconImg {
    height: 9rem;
}

.titleIcon {
    font-size: 1.4rem;
    font-family: "Changa";
    font-weight: 800;
}

#textIcon {
    font-family: 'GlacialIndifference';
    font-size: 1.3rem;
    margin: 0 1rem;
    text-align: center;
}

#textWithoutIcon {
    font-family: 'GlacialIndifference';
    font-size: 1.3rem;
    text-align: center;
    margin-top: 2rem;
}

#space-core-values {
    margin-top: 25rem;
}

#space-committee {
    margin-top: 23rem;
}

.description {
    font-family: 'GlacialIndifference';
    font-size: 0.9rem;
    color: #2e2e2e;
    text-align: center;
    margin-top: 0.4rem;
}

#title-name {
    font-size: 1.3rem;
}

#space-between-rowfaces {
    margin-top: 4rem;
}

.textGrid {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.face-icon {
    width: 18rem;
}

.social-networks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 5.3rem;
    margin-top: 1rem;
}

.social-icons {
    height: 1.4rem;
}

.spacer {
    margin-top: 7rem;
}

.blue {
    color: #004375
}

.yellow {
    color: #ffc229
}

.green {
    color: #13ba3e
}

/* Events page */

.coming-soon {
    font-family: 'Changa', sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: #004375;
}

.simposioBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.simposio-img {
    height: 19rem;
}

.save-date-box {
    display: flex;
    justify-content: center;
}

.save-date-text {
    font-family: 'Changa', sans-serif;
    font-size: 2.8rem;
    font-weight: 800;
    color: #004375;
}

.simposio-text {
    font-family: "GlacialIndifference";
    font-size: 1.3rem;
    text-align: justify;
}

.text-bold {
    font-weight: 800;
}

#space-text {
    margin-top: 2rem;
}

.simposio-date {
    font-family: 'Changa', sans-serif;
    font-size: 3.2rem;
    font-weight: 800;
    color: #ffc229;
    text-align: center;
    margin-top: 1rem;
}


.clockBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.clock {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 36rem;
}

.data {
    font-family: "Changa", sans-serif;
    font-size: 4rem;
    font-weight: 800;
    color: #004375;
}

.clock-spacer {
    color: #e8257e;
}

.clock-text-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 33rem;
}

.clock-text {
    font-family: 'Changa', sans-serif;
    font-size: 2.2rem;
    font-weight: 800;
    color: #2e2e2e;
}
